:root {
    --main-bg-color: #CDE7BE;
    --color-1: #D3E298;
    --color-2: #ECDD7B;
    --color-3: #CE8147;
    --color-4: #561D25;
}
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
li {
    list-style: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
}
.libraryContainer {
    display: flex;
    gap: 64px;
}
ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}